$chatbox-height: 400px;
$chatbox-width: 300px;
$clr-primary: #18ffff;
$clr-primary-light: #adffff;
$clr-primary-dark: #091034;
$clr-gray100: #f9fbff;
$clr-gray150: #f4f6fb;
$clr-gray200: #eef1f6;
$clr-gray300: #e1e5ee;
$clr-gray400: #767b91;
$clr-gray500: #4f546c;
$clr-gray600: #2a324b;
$clr-gray700: #161d34;
$clr-bg: #5771f3;
@import url('https://fonts.googleapis.com/css2?family=Convergence&family=Noto+Sans+SC:wght@300&display=swap');


@media only screen and (max-width : 550px) {
    .chatbox-container{
        width: 200px !important;
    }
}

.chatbox-container {
    opacity: 0;
    position: fixed;
    border-radius: 10px;
    box-shadow: -2px -2px 2px 1px rgba(0, 0, 0, 0.2);
    text-align: center;
    top: 36%;
    left: -54%;
    scale: 0;
    background: linear-gradient(93.12deg, #581b98 0.52%, #9c1de7 100%);
    width: $chatbox-width;
    height: $chatbox-height;
    margin-top: calc($chatbox-height*(-0.5));
    margin-left: calc($chatbox-width*(-0.55));
    // padding: 1rem;
    display: grid;
    grid-template-rows: 1fr 4fr 0.4fr;
    grid-template-areas: 'chat-title'
                        'chat-screen'
                        'input-container';
    // gap: 0.5rem;

    overflow: hidden;
    & .chat-title {
        display: flex;
        position: relative;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;


        & h3{
            color: white;
        }

        & img {
            position: absolute;
            left: 30px;
            width: 40px;
            height: 40px;
            border-radius: 50%;
        }

        & .min-bar{
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            top: 0;
            right: 0;
            width: 30px;
            height: 30px;
            
            cursor: pointer;

            &:hover{
                background-color: #be7ae6;
            }

            & span{
                background-color: white;
                height: 2px;
                width: 15px;
            }
        }
    }



    & .chat-screen {
        background-color: rgb(245,245,245);
        overflow-y: scroll;

        & li{
            list-style: none;
        }

        & li p {
            display: inline-block;
            border-radius: 15px;
            padding: 0.5rem;
            font-size: smaller;
            text-align: left;
        }

        & .left p{
            background-color: rgb(224, 224, 224);
            color: black;
            margin-left: 0.5rem;
            margin-right: 2rem;
            margin-top: 0.5rem;
            margin-bottom: 0.5rem;
        }

        & .right p {
            background-color: rgb(94, 38, 155);
            color: white;
            margin-right: 0.5rem;
            margin-left: 2rem;
            margin-top: 0.5rem;
            margin-bottom: 0.5rem;
        }

        & .left{
            text-align: left;
        }

        & .right{
            text-align: right;
        }
    }

  }


.show{
    left: 54%;
    top: 40%;
    scale: 1;
    opacity: 1;
    transition: all 0.3s  ease-in;
  }

.input-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: linear-gradient(93.12deg, #9c1de7 100%,#581b98 0.52%,);;
    // background-color: gray;


    & form{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }

    & button {
        width: 15%;
        height: 68%;
        background-color: rgb(51, 51, 51);
        border-width: 0;
        border-radius: 0 15px 15px 0;
        cursor: pointer;
    }
}

.input-box {
    resize: none;
    padding: 0.2rem 0.8rem;
    width: 60%;
    height: 50%;
    margin-right: 2px;
    outline: none;
    border-width: 1px;
    border-radius: 15px 0 0 15px;
    font-family: 'Noto Sans SC', sans-serif;
    overflow: hidden;
}

