.sidebar {

    & li {
        display: inline-block;
        list-style: none;
        padding: 1rem;
    }

    & li:hover {
        background: rgb(54, 51, 90);
        cursor: pointer;
    }

    & li a:hover{
        cursor: pointer;
    }

    & li a{
        display: inline-block;
        width: inherit;
        height: inherit;
        text-decoration: none;
    }
}


@media only screen and (max-width: 836px) {
    .sidebar ul{
        display: flex;
        justify-content: space-around;
        align-items: center;

        & li {
            padding: 0;
        }
    }
}