
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
$clr-primary: #18ffff;
$clr-primary-light: #adffff;
$clr-primary-dark: #091034;
$clr-gray100: #f9fbff;
$clr-gray150: #f4f6fb;
$clr-gray200: #eef1f6;
$clr-gray300: #e1e5ee;
$clr-gray400: #767b91;
$clr-gray500: #4f546c;
$clr-gray600: #2a324b;
$clr-gray700: #161d34;
$clr-bg: #5771f3;


$radius: 0.5rem;
$form-width: 20rem;
$form-padding: 1rem;

* {
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Convergence&display=swap');

// #container #forms {
//     display: flex;
//     justify-content: center;
//     align-items: center;
// }


// #container.active #login-container{
//     opacity: 0;
//     transition: opacity 0.9s ease-in-out;
// }

// #container #register-container{
//     opacity: 0;
//     transition: opacity 0.9s ease;
// }
// #container.active #register-container{
//     opacity: 1;
//     transition: opacity 0.2 ease;
// }

#login-container, #register-container {
    position: relative;
    width: 25rem;
    height: 25rem;
    // background-color: $clr-bg;
    background-image: radial-gradient(rgb(114, 32, 32), rgb(51, 91, 51));
    display: grid;
    grid-template-rows: 2fr 1fr 1fr;
    grid-template-areas: 
    "title"
    "form-group"
    "toggle";
    justify-content: center;
    align-items: end;
    border-radius: $radius;
    font-family: 'Convergence', sans-serif;
    padding: 20px;
}

.title {
    font-weight: 800;
    font-size: x-large;
}

.form{
    position: relative;
    width: $form-width;
    height: 1rem;
    margin-top: 4rem;

    &__input {
        width: calc($form-width - 2*$form-padding);
        height: 100%;
        border: 2px solid $clr-gray300;
        border-radius: $radius;
        font-family: inherit;
        font-size: inherit;
        color: black;
        caret-color:#999;
        outline: none;
        padding: $form-padding $form-padding $form-padding calc($form-padding + 15px);
        background: none;
    }

    & :hover{
        border-color: $clr-primary-light;
    }

    & :focus ~ i{
        border-color: $clr-primary;
        color: $clr-primary-light;
    }

    &__label {
        position: absolute;
        left: 1rem;
        top: 0.4rem;
        padding: 0.5rem;
        color: black;
        cursor:text;
        transition: top 200ms ease-in,
        left 200ms ease in,
        font-size 200ms ease-in;
    }

    & i{
        position: absolute;
        top: 100%;
        color: #999;
    }


    & i.icon{
        left: 3%;
    }

    & i.showHidePw{
        width: 16px;
        right: 0;
    }
}

// .form__input:focus ~ .form__label,
// .form__input:not(:placeholder-shown).form__input:not(:focus)
// ~ .form__label{
//     top: -1.1rem;
//     font: size 0.8em;
//     left:0.8rem;
// }


.submit-btn {
    width: calc($form-width + 2*2px + 15px);
    height: 2.5rem;
    border-radius: $radius;
    border-width: 0;
    background: #161d34;
    color: white;
}

.toggle {
    text-decoration: none;
    color: black;
}