.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 1300px){
  .navigation-list {
    font-size: calc(9px + 1vh);
  }
}

ul > li{
  display: inline;
  margin-right: 4vw;
  font-size: xx-large;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  
}

ul > li > a{
  text-decoration: none;
  color: rgb(117, 121, 121);
}

a:hover{
  color: rgb(0, 0, 0);
}

ul {
  margin: 0;
  margin-block-start: 0;
  padding-inline-start: 2vw;
  height: min-content;
}

.navigation{
  /* margin-left: 10%;
  margin-right: 10%; */
  display: flex;
  background-image: linear-gradient(rgb(139, 197, 63), white);
}

.wrapper {
  margin-left: 10%;
  margin-right: 10%;
  height: 100vh;
  background-image: radial-gradient(black, white 70%);
}


.logo {
  /* background-image: url('logo-color.png'); */
  background-repeat: no-repeat;
  background-size: contain;
  min-width: 10vw;
  margin-left: 10vw;
  width: 10vw;
}

.logo:hover {
  cursor: pointer;
}

.avatar {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

